# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/NativeRpc/.vs
/NativeRpc/out/build/x64-debug
/NativeRpc/out/build/x64-release
/NativeRpc/out/1376814986/build/linux-debug/.cmake/api/v1/query/client-MicrosoftVS
